#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.head1 {
  position: fixed;
  padding-right: 350px;
  padding-top: 175px;
  right: 0;
  top: 0;
  float: right;
  color: aliceblue;
  text-align: end;
}
a {
  text-decoration: none;
  color: aqua;
}
.nav {
  text-decoration: none;
}
